.input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #E0E0E0;
}

.input input[type=number] {
    border: none;
    display: block;
    width: calc(100% - 150px);
    padding: 5px 10px 5px 10px;
    outline: none;
}

.input button {
    width: 150px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.9rem;
    border: none;
    border-left: 1px solid #E0E0E0;
    padding: 5px 10px 5px 10px;
    outline: none;
}

.input button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
