<div class="vertical">
    <div class="horizontal">
        <form class="login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="header">GUESS</div>
            <div class="error" *ngIf="errorMessage !== null">{{errorMessage}}</div>
            <div class="field">
                <input (focus)="onInputFocus()" [(ngModel)]="model.email" name="email" type="email" placeholder="Email" />
            </div>
            <div class="field">
                <input (focus)="onInputFocus()" [(ngModel)]="model.password" name="password" type="password" placeholder="Mot de passe" />
            </div>
            <div class="submit">
                <button>Envoyer</button>
            </div>
            <div routerLink="/register" class="register">Créer un compte</div>
        </form>
    </div>
</div>
