<div *ngIf="selectedDifficulty === 0">Le nombre à deviner peut aller de 1 à 100. Le nombre de coups pour deviner est illimité.</div>
<div *ngIf="selectedDifficulty === 1">Le nombre à deviner peut aller de 1 à 1000. Le nombre de coups pour deviner est illimité.</div>
<div *ngIf="selectedDifficulty === 2">Le nombre à deviner peut aller de 1 à 10000. Le nombre de coups pour deviner est illimité.</div>
<div *ngIf="selectedDifficulty === 3">Le nombre à deviner peut aller de 1 à 10000. Le nombre de coups pour deviner est limité à 10. Toutes les 10 tentatives le nombre à deviner change.</div>
